<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StoneRoom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A3D64861EBB50C6009C33E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A3D649F1EBB50C6009C33E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A3D64AA1EBB50C6009C33E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
